name: Build

on:
  push:
    branches: [forge/1.20.1]
  pull_request:
    branches: [forge/1.20.1]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: nightly
          path: build/libs/*.jar
